<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diana.finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Inicio"

            android:label="@string/Bolsa_trabajo" >

        </activity>
        <activity
            android:name=".Recupera"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShowTabs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Solicitud"
            android:label="@string/title_activity_solicitud" >

        </activity>
        <activity

            android:name=".Perfil"
            android:label="@string/title_activity_perfil" >
        </activity>


        <activity
            android:name=".Favorites"
            android:label="@string/Favorites">
        </activity>



        <activity
            android:name=".Vacante"
            android:label="@string/title_activity_vacante" >
        </activity>

        <activity
            android:name=".Editar_Perfil"
            android:label="@string/title_activity_editPerfil" >
        </activity>

    </application>

</manifest>
